

<div style="width:100%;height:700px;">
    <iframe src="http://www.marketwatch.com/investing" id="iframe11" style="width:100%;height:100%;"></iframe>

    @*<b>Refused to display 'http://finance.yahoo.com/quote/QQQ?p=QQQ' in a frame because it set 'X-Frame-Options' to 'SAMEORIGIN'.</b>
        <br />
        <b>Yahoo finance doesn't open into iframes</b>   *@




</div>

@*<script>
    $(document).ready(function () {
        debugger;
        var iFrame = $('#iframe11');
        iFrame.contents().find("#maincontent").css({
            width: 100% !important,
        });

        iFrame.contents().find(".sixwide").css({
            width: 100% !important,
        });

        //$('#iframe11').load(function () {
        //    debugger;
        //    //var newCss = ".yahoo-custom #maincontent, .yahoo-custom .sixwide{ width: 100% !important;} .yahoo-custom #maincontent .threewide {width: 50% !important;} .yahoo-custom #maincontent .threewide.addgutter { margin-right: 0px !important;} .yahoo-custom #maincontent .threewide.addgutter .block {width: 100% !important;}";
        //    $(this).contents().find("#maincontent").css({
        //        width: 100 % !important,
        //    });

        //    $(this).contents().find(".sixwide").css({
        //        width: 100 % !important,
        //    });
        //});
    });
</script>*@