
@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel-body > div,
    .panel-body > div > iframe {
        width: 100%;
        height: 100%;
    }

    .custom_panel {
        margin-left: -14px;
        margin-right: 0px;
        padding-top: 3px;
    }

        .custom_panel .panel, .custom_panel .panel-group {
            margin-bottom: 5px;
        }

    .padding-left-5 {
        padding-left: 2px;
    }

    .padding-right-5 {
        padding-right: 2px;
    }

    .content {
        padding-top: 5px;
    }

    .blue_border {
        border-top: 5px solid #1e6eff !important;
    }
    .trading_view{padding-top:6px !important;}
</style>

<div class="dashboard blue_heading_panel custom_panel ">
 
    <div class="row">
        
            <div class="col-sm-6 padding-right-5">
                <div class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp;Price Chart
                            </h4>
                        </div>
                        <div id="collapse" class="panel-collapse collapse in">
                            <div class="panel-body" style="height:500px;">
                                <!-- TradingView Widget BEGIN -->
                                <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
                                <script type="text/javascript">
                                new TradingView.widget({
                                    "autosize": true,
                                    "symbol": "NASDAQ:AAPL",
                                    "interval": "D",
                                    "timezone": "Etc/UTC",
                                    "theme": "White",
                                    "style": "1",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "allow_symbol_change": true,
                                    //"hideideas": true   // Comment by krishna on 28/04/2017
                                    // Added by krishna on 28/04/2017
                                    "hideideas": true,
                                    "allow_symbol_change": true,
                                    //END
                                });
                                </script>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 padding-right-5 p-l-5">
                <div class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp;Price Chart
                            </h4>
                        </div>
                        <div id="collapse" class="panel-collapse collapse in">
                            <div class="panel-body" style="height:500px;">
                                <!-- TradingView Widget BEGIN -->
                                <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
                                <script type="text/javascript">
                                new TradingView.widget({
                                    "autosize": true,
                                    "symbol": "NASDAQ:AAPL",
                                    "interval": "D",
                                    "timezone": "Etc/UTC",
                                    "theme": "White",
                                    "style": "1",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "allow_symbol_change": true,
                                    //"hideideas": true   // Comment by krishna on 28/04/2017
                                    // Added by krishna on 28/04/2017
                                    "hideideas": true,
                                    "allow_symbol_change": true,
                                    //END
                                });
                                </script>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 padding-right-5">
                <div class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp;Price Chart
                            </h4>
                        </div>
                        <div id="collapse" class="panel-collapse collapse in">
                            <div class="panel-body" style="height:500px;">
                                <!-- TradingView Widget BEGIN -->
                                <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
                                <script type="text/javascript">
                                new TradingView.widget({
                                    "autosize": true,
                                    "symbol": "NASDAQ:AAPL",
                                    "interval": "D",
                                    "timezone": "Etc/UTC",
                                    "theme": "White",
                                    "style": "1",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "allow_symbol_change": true,
                                    //"hideideas": true   // Comment by krishna on 28/04/2017
                                    // Added by krishna on 28/04/2017
                                    "hideideas": true,
                                    "allow_symbol_change": true,
                                    //END
                                });
                                </script>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 padding-right-5 p-l-5">
                <div class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp;Price Chart
                            </h4>
                        </div>
                        <div id="collapse" class="panel-collapse collapse in">
                            <div class="panel-body" style="height:500px;">
                                <!-- TradingView Widget BEGIN -->
                                <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
                                <script type="text/javascript">
                                new TradingView.widget({
                                    "autosize": true,
                                    "symbol": "NASDAQ:AAPL",
                                    "interval": "D",
                                    "timezone": "Etc/UTC",
                                    "theme": "White",
                                    "style": "1",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "allow_symbol_change": true,
                                    //"hideideas": true   // Comment by krishna on 28/04/2017

                                    // Added by krishna on 28/04/2017
                                    "hideideas": true,
                                    "allow_symbol_change": true,
                                    //END

                                });
                                </script>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</div>


@*<div class="charts">
    <div class="row">
        <div class="col-sm-12">

        </div>

        <div class="col-sm-12">

        </div>


       <div class="col-sm-12">
                    <div class="panel-group accordion">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <i class="fa fa-area-chart" aria-hidden="true"></i> &nbsp;Fundamental Chart</h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <img src="~/images/chart2.jpg" width="100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



        </div>



    </div>*@
