<!-- jQuery is not required to use Charting Library. It is used only for sample datafeed ajax requests. -->
@*<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>*@
<script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="~/Scripts/charting_library.min.js"></script>
<script type="text/javascript" src="~/Scripts/datafeed.js"></script>

<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    TradingView.onready(function () {
        var widget = window.tvWidget = new TradingView.widget({
            fullscreen: true,
            symbol: 'AAPL',
            interval: 'D',
            container_id: "tv_chart_container",
            //	BEWARE: no trailing slash is expected in feed URL
            //datafeed: new Datafeeds.UDFCompatibleDatafeed("https://demo_feed.tradingview.com"),
            datafeed: new Datafeeds.UDFCompatibleDatafeed("http://marketdata.websol.barchart.com/getHistory.json?key=40ae86537412ad8042cbbaca14906020&symbol=AAPL&type=minutes&startDate=20150101"),
            library_path: "charting_library/",
            locale: getParameterByName('lang') || "en",
            //	Regression Trend-related functionality is not implemented yet, so it's hidden for a while
            drawings_access: { type: 'black', tools: [{ name: "Regression Trend" }] },
            disabled_features: ["use_localstorage_for_settings"],
            enabled_features: ["study_templates"],
            charts_storage_url: 'http://saveload.tradingview.com',
            charts_storage_api_version: "1.1",
            client_id: 'tradingview.com',
            user_id: 'public_user_id'
        });
    });

</script>

<div class="charts">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-group accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse">
                                <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp;Price Chart
                            </a>
                        </h4>
                    </div>
                    <div id="collapse" class="panel-collapse collapse in">
                        <div class="panel-body" style="height:500px;">
                            <div id="tv_chart_container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="panel-group accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">
                                <i class="fa fa-area-chart" aria-hidden="true"></i> &nbsp;Fundamental Chart
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse2 in">
                        <div class="panel-body" style="height:500px;">
                            <!-- TradingView Widget BEGIN -->
                            <span id="tradingview-copyright">Fundamental data is powered by <a href="http://www.tradingview.com" rel="nofollow" target="_blank" style="color: #3BB3E4">TradingView.com</a></span>
                            <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget({
                                    "autosize": true,
                                    "symbol": "AAPL",
                                    "interval": "D",
                                    "theme": "White",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "fundamental": "Script$EDGR_DIVIDEND_YIELD_V2@tv-scripting",
                                    "percentage": true,
                                    "hide_top_toolbar": true,
                                    "hide_side_toolbar": true,
                                    "save_image": false
                                });
                            </script>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


