

@{
    ViewBag.Title = "FirstChart";
    string symb = ViewBag.Symbol;
    string url = ViewBag.RequestUrl;
}
<meta charset="UTF-8" name="referrer" content="no-referrer" />
<meta name="viewport" content="width = device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yahoo/yahoo-min.js"></script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<style>
    #txtTicker-label {
        display: block;
        font-weight: bold;
        margin-bottom: 1em;
    }

    #txtTicker-icon {
        float: left;
        height: 32px;
        width: 32px;
    }

    #txtTicker-description {
        margin: 0;
        padding: 0;
    }

    .ui-draggable, .ui-droppable {
        background-position: top;
    }

    .bold-text {
        background-color: #3f7bf6;
    }

    .ttt {
        background-color: #3f7bf6;
        background: blue;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<h>Symbol:</h>



<input style="width: 100px; height: 20px;" id="txtTicker" />
<script type="text/javascript">
     //   $.noConflict();
        var YAHOO = {
            Finance: {
                SymbolSuggest: {}
            }
        };
        $(document).ready(function() {
          

            $.noConflict();


            $("#txtTicker").autocomplete({
                source: function (request, response) {
                 var query = request.term;
                    $.ajax({
                        type: "GET",
                        url: "http://d.yimg.com/autoc.finance.yahoo.com/autoc",
                        data: { query: query, region: 'US', lang: 'en-US' },
                        dataType: "jsonp",
                        jsonp: "callback",
                        jsonpCallback: "YAHOO.Finance.SymbolSuggest.ssCallback",
                    });
                    // call back function
                    YAHOO.Finance.SymbolSuggest.ssCallback = function (data) {
                        var suggestions = [];
                        //alert(JSON.stringify(data.ResultSet.Result));
                      //  debugger;
                        $.each(data.ResultSet.Result, function (i, val) {
                            suggestions.push({
                                value: val.symbol//, + "-" + val.name + "(" + val.exchDisp + ")"
                               , label: val.name
                                , desc: val.exch +'-'+val.exchDisp
                            });
                        });

                        response(suggestions);
                    }
                },
                minLength: 1,
                focus: function (event, ui) {
                   $("#txtTicker").val(ui.item.value);
                    return false;
                },
                select: function (event, ui) {

                    $("#txtTicker").val(ui.item.value);
                    window.location.href = 'http://' + '@url' + '/Charts/SaveUserChartHistory?symbol=' + ui.item.value + '&chartType=1' + '&viewType=FirstChart';

                    return false;
                },
                highlightClass: "bold-text"
            })
            .autocomplete("instance")._renderItem = function (ul, item) {
                // alert('abc');
               // debugger;
                return $("<li>")
                  .append("<div>"
                  + "<p style='color:blue; font-weight:bold;'>"
                  + item.value
                  + "<span style='color:black; font-weight:normal; float:right;'>"
                  + item.desc
                  + "</span></p>"
                  + " <p style='text-transform:uppercase;'>"
                  + item.label
                  + "</p>"
                //  + item.value + "<br>" + item.label + +item.desc + "</div>")
                  + "</div>")


                  .appendTo( ul );
            };
     });
</script>

<!-- jQuery is not required to use Charting Library. It is used only for sample datafeed ajax requests. -->
@*<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>*@
<script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="~/Scripts/charting_library.min.js"></script>
<script type="text/javascript" src="~/Scripts/datafeed.js"></script>
<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }


    function BindPriceChartBind(symb)
    {
        //var sym = "AAPL";
        //var sym = "SPY";
        var sym = symb


        var startDate = "20150101"
        var key = "40ae86537412ad8042cbbaca14906020"
        var type = "minutes";
        //var url = "http://marketdata.websol.barchart.com/getHistory.json?key=" + key + "&symbol=" + sym + "&type=" + type + "&startDate=" + startDate;
        var url = "http://ondemand.websol.barchart.com/getHistoryTradingView.json?&symbol=" + sym + "&apikey=a7842b6d1f7a08b1dd7e889585ff9093&requestType=history";
        var widget = window.tvWidget = new TradingView.widget({
            fullscreen: true,
            //symbol: "SPY",
            symbol: sym,

            interval: 'D',
            container_id: "tv_chart_container",
            "details": true,
            "news": [
              "headlines"
            ],
            "hideideas": true,
            "hide_side_toolbar": false,
            //"allow_symbol_change": true,
            //	BEWARE: no trailing slash is expected in feed URL
            //datafeed: new Datafeeds.UDFCompatibleDatafeed("https://demo_feed.tradingview.com"),
            datafeed: new Datafeeds.UDFCompatibleDatafeed(url),
            library_path: "charting_library/",
            locale: getParameterByName('lang') || "en",
            //	Regression Trend-related functionality is not implemented yet, so it's hidden for a while
            drawings_access: { type: 'black', tools: [{ name: "Regression Trend" }] },
            disabled_features: ["use_localstorage_for_settings"],
            enabled_features: ["study_templates"],
            charts_storage_url: 'http://saveload.tradingview.com',
            charts_storage_api_version: "1.1",
            client_id: 'tradingview.com',
            user_id: 'public_user_id',
            autosize: true,
        });
    }


    //TradingView.onready(function () {
    //    //var sym = "AAPL";
    //    var sym = "SPY";
    //    //var sym = 


    //    var startDate = "20150101"
    //    var key = "40ae86537412ad8042cbbaca14906020"
    //    var type = "minutes";
    //    //var url = "http://marketdata.websol.barchart.com/getHistory.json?key=" + key + "&symbol=" + sym + "&type=" + type + "&startDate=" + startDate;
    //    var url = "http://ondemand.websol.barchart.com/getHistoryTradingView.json?&symbol=" + sym + "&apikey=a7842b6d1f7a08b1dd7e889585ff9093&requestType=history";
    //    var widget = window.tvWidget = new TradingView.widget({
    //        fullscreen: true,
    //        symbol: "SPY",
    //        interval: 'D',
    //        container_id: "tv_chart_container",
    //        "details": true,
    //        "news": [
    //          "headlines"
    //        ],
    //        "hideideas": true,
    //        "hide_side_toolbar": false,
    //        "allow_symbol_change": true,
    //        //	BEWARE: no trailing slash is expected in feed URL
    //        //datafeed: new Datafeeds.UDFCompatibleDatafeed("https://demo_feed.tradingview.com"),
    //        datafeed: new Datafeeds.UDFCompatibleDatafeed(url),
    //        library_path: "charting_library/",
    //        locale: getParameterByName('lang') || "en",
    //        //	Regression Trend-related functionality is not implemented yet, so it's hidden for a while
    //        drawings_access: { type: 'black', tools: [{ name: "Regression Trend" }] },
    //        disabled_features: ["use_localstorage_for_settings"],
    //        enabled_features: ["study_templates"],
    //        charts_storage_url: 'http://saveload.tradingview.com',
    //        charts_storage_api_version: "1.1",
    //        client_id: 'tradingview.com',
    //        user_id: 'public_user_id',
    //        autosize: true,
    //    });
    //});

</script>
<style>
    /*.panel_margin{margin-bottom:6px !important;}*/
    .trading_view {
        padding-top: 6px !important;
    }
</style>
<div class="charts">
    <div class="row">
        <div class="">
            <div class="panel-group accordion panel_margin">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse">
                                <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp;Price Chart
                            </a>
                        </h4>
                    </div>
                    @*<select name="Charts" id="ddlChartsId" onchange="BindGraphData()">
                        <option value="SPY">SPY</option>
                        <option value="APPL">APPL</option>
                        <option value="SKY">SKY</option>
                        
                    </select>*@
                    <div id="collapse" class="panel-collapse collapse in">
                        <div class="panel-body" id="tv_chart_container" style="height:500px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="panel-group accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">
                                <i class="fa fa-area-chart" aria-hidden="true"></i> &nbsp;Fundamental Chart
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse2 in">
                        <div class="panel-body" id="Fundamenta_Chart_container"  style="height:500px;">
                            <!-- TradingView Widget BEGIN -->
                            @*<span id="tradingview-copyright">Fundamental data is powered by <a href="http://www.tradingview.com" rel="nofollow" target="_blank" style="color: #3BB3E4">TradingView.com</a></span>*@
                            @*<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>*@
                            @*<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>*@
                            @* TradingView Widget END*@
                            <!-- TradingView Widget BEGIN -->
                            <span id="tradingview-copyright">Fundamental data is powered by <a href="http://www.tradingview.com" rel="nofollow" target="_blank" style="color: #3BB3E4">TradingView.com</a></span>
                            <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>



                            <script type="text/javascript">
                                function Fundamentacharts(ddlValue) {
                                    new TradingView.widget({
                                        "autosize": true,
                                        //"symbol": "NASDAQ:AAPL",
                                        "symbol": ddlValue,
                                        //"symbol": "SPY",
                                        "interval": "D",
                                        "theme": "White",
                                        "locale": "en",
                                        "toolbar_bg": "#f1f3f6",
                                        container_id: "Fundamenta_Chart_container",
                                        "fundamental": "Script$EDGR_DIVIDEND_YIELD_V2@tv-scripting",
                                        "percentage": true,
                                        //Added by krishna to show deetails on 28/04.2017
                                        "details": true,
                                        "news": [
                                        "headlines"
                                        ],
                                        //"hideideasbutton": true,
                                        //"allow_symbol_change": true,


                                        //END


                                    });
                                }
  
                            </script>
                            <!-- TradingView Widget END -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var symbol = '@symb';
        BindPriceChartBind(symbol);
        Fundamentacharts(symbol);
        $("#txtTicker").val(symbol);
        
    });
   // alert('dsd');
  

    @*function BindGraphData()
    {
        var ddlValue = $("#ddlChartsId").val();
       
        //window.location.href = 'http://localhost:51170/Charts/SaveUserChartHistory?symbol=' + ddlValue + '&chartType=1' + '&viewType=FirstChart';
        window.location.href = 'http://'+'@url'+'/Charts/SaveUserChartHistory?symbol=' + ddlValue + '&chartType=1' + '&viewType=FirstChart';

     
    }*@
</script>