
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Autocomplete functionality</title>
   
    @*<script src="https://code.jquery.com/jquery-1.10.2.js"></script>*@
   

    <!-- Javascript -->
    <script>

        function DeleteUserNotes() {
            var jsonData = JSON.stringify({
                sym: $("#automplete-1").val(),
            });
            $.ajax({
                type: "POST",
                url: "/Charts/GetLookUpData",
                contentType: "application/json; charset=utf-8",
                data: jsonData,
                dataType: "json",
                async: false,
                success: function (data) {
                    var myArr = $.parseJSON(data);
                    var arr = [];
                    $.each(myArr.ResultSet.Result,function(i,obj){
                        arr.push(obj.symbol);
                    });
                       $( "#automplete-1" ).autocomplete({
                           source: arr,
                           select: function (event, ui) {
                               $("#automplete-1").val(ui.item.label);
                               return false;
                           },
                       });
                }
            });
        }

        
    </script>
</head>

<body>
    <!-- HTML -->
    <div class="ui-widget">
        <p>Type "a" or "s"</p>
        <label for="automplete-1" >Tags: </label>
        <input id="automplete-1" onkeyup="DeleteUserNotes()">
    </div>
</body>
</html>