<style>
    #txtTicker-label {
        display: block;
        font-weight: bold;
        margin-bottom: 1em;
    }

    #txtTicker-icon {
        float: left;
        height: 32px;
        width: 32px;
    }

    #txtTicker-description {
        margin: 0;
        padding: 0;
    }

    .ui-draggable, .ui-droppable {
        background-position: top;
    }

    .bold-text {
        background-color: #3f7bf6;
    }

    .ttt {
        background-color: #3f7bf6;
        background: blue;
    }
</style>
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>jQuery UI Autocomplete functionality</title>
   
    @*<script src="https://code.jquery.com/jquery-1.10.2.js"></script>*@
   

    <!-- Javascript -->
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <script>

        function DeleteUserNotes() {
            var jsonData = JSON.stringify({
                sym: $("#automplete-1").val(),
            });
            $.ajax({
                type: "POST",
                url: "/Charts/GetLookUpData",
                contentType: "application/json; charset=utf-8",
                data: jsonData,
                dataType: "json",
                async: false,
                success: function (data) {
                    var myArr = $.parseJSON(data);
                    // var arr = [];
                    var suggestions = [];
                    $.each(myArr.ResultSet.Result,function(i,obj){
                        // arr.push(obj.symbol);
                        //suggestions.push({
                        //    value: obj.symbol//, + "-" + val.name + "(" + val.exchDisp + ")"
                        //      , label: obj.name
                        //       , desc: obj.exch + '-' + obj.exchDisp
                        //});
                        suggestions.push({
                            value: obj.name //obj.symbol
                             , label: obj.symbol // obj.name
                              , desc: obj.exch + '-' + obj.exchDisp
                        });
                    });
                       $( "#automplete-1" ).autocomplete({
                           source: suggestions,
                           focus: function (event, ui) {
                               $("#automplete-1").val(ui.item.label);
                               return false;
                           },
                           select: function (event, ui) {
                               $("#automplete-1").val(ui.item.label);
                               return false;
                           },
                       })

                         .autocomplete("instance")._renderItem = function (ul, item) {
                             return $("<li>")
                 .append("<div>"
                 + "<p style='color:blue; font-weight:bold;'>"
                 + item.label
                 + "<span style='color:black; font-weight:normal; float:right;'>"
                 + item.desc
                 + "</span></p>"
                 + " <p style='text-transform:uppercase;'>"
                 + item.value
                 + "</p>"
               //  + item.value + "<br>" + item.label + +item.desc + "</div>")
                 + "</div>")


                 .appendTo(ul);
                         };
                }
            });
        }

        
    </script>
</head>

<body>
    <!-- HTML -->
    <div class="ui-widget">
        <p>Type "a" or "s"</p>
        <label for="automplete-1" >Tags: </label>
        <input id="automplete-1" onkeyup="DeleteUserNotes()">
    </div>
</body>
</html>




